{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TSSDATA TESTING</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    
</head>
<body style="background-color: rgb(0, 0, 0);">
    <div style="text-align: center; margin-bottom: 200px; margin-top: 150px;">
        <img src="{% static 'imgs/tekWhite.png' %}" style="width: 90%; text-align: center;" alt="...">
    </div>
    <h1 style="text-align: center; color: orange; margin: 1em;">TSSDATA DevOps</h1>
    <h1 style="text-align: center; color: rgb(7, 78, 150);">SERVER_NAME: <strong style="color: rgb(154, 11, 135);">{{ hostname }}</strong></h1>
</body>
<script src='main.js'></script>
</html>